@{
    Layout = null;
}
<table class="table table-striped table-hover " style="font-size:14px">
    <thead>
        <tr>
            <th>Channel</th>
            <th>Transaction Type</th>
            <th>Service</th>
            <th>Provider</th>
            <th>Transactions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (dynamic chn in ViewBag.transaction_config)
        {
            <tr>
                <td>@chn.channel</td>
                <td>@chn.transaction_type</td>
                <td>@chn.service</td>
                <td>@chn.provider</td>
                <td>
                    @foreach (dynamic trx in chn.transactions)
                    {
                        <p>@trx.note - Account: @trx.account - Amount: @trx.amount (@trx.amount_type)</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>