@{
    Layout = null;
    
}
<h3>Partner Integration API</h3>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Partner Code</th>
            <th>Parter Key</th>
            <th>Status</th>
            @*<th>Gateway</th>*@
            @*<th>Success Return</th>
            <th>Fail Return</th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (dynamic chn in ViewBag.list_channels)
        {
            <tr>
                <td>@chn._id</td>
                <td>@chn.merchant_code</td>
                <td>@chn.merchant_key</td>
                <td>@chn.status</td>
                @*<td>@chn.gateway_url</td>*@
                @*<td>@chn.url_success</td>
                <td>@chn.url_fail</td>*@
                <td>
                    <a title="Cập nhật" href="#"><i class="glyphicon glyphicon-edit"> </i></a>
                    <a title="Xóa" href="#"><i class="glyphicon glyphicon-remove"> </i></a>
                </td>
            </tr>
        }
    </tbody>
</table>